[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djoser = "*"
djangorestframework = "*"
django-filter = "*"
django-debug-toolbar = "*"
drf-nested-routers = "*"
mysqlclient = "*"
pillow = "*"
django-cors-headers = "*"
pytest = "*"
pytest-django = "*"

[dev-packages]
locust = "*"

[requires]
python_version = "3.11"
